# NetBeans specific #
/nbproject/private/
build/
!build/web/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar 
*.war 
*.ear 

/Lab7/nbproject/private/
/SEP_EAT_Lab7/nbproject/private/