# NetBeans specific #
/nbproject/private/
build/
!build/web/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar 
*.war 
*.ear 

/Lab7/nbproject/private/
/SEP_EAT_Lab7/nbproject/private/
/DSALP12/nbproject/private/
/JavaApplication23/nbproject/private/
/JavaApplication24/nbproject/private/
/PTP_TechChallenge/nbproject/private/
/SEP_EAT_Lab8/nbproject/private/
/CalculatorWS/nbproject/private/
/Lab9_OnlineShop_WS/nbproject/private/